.header-wraper {
max-width: 1184px;
display: flex;
width: 90%;
margin: 0 auto;
padding: 36.5px, 0;
align-items: center;
justify-content: space-between;
}
.burger-bar {
  display: none;
}
.ul-element {
    display: flex;
     gap: 30px;
}
.right {
    display: flex;
}
.signup{
    width: 115px;
    height: 49px;
    border-radius: 90%;
    background-color: #5D50C6;
    justify-content: center;
    align-items: center;
    display: flex;

}
.login { 
    align-items: center;
    display: flex;
}



@media (max-width:1024px) { 
    .navigation {
    display: none;
  }
  .burger-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #5d50c6;
    color: #fff;
    border-radius: 14px;
    font-size: 23px;
    width: 40px;
    order: 1;
}
.logo {
    order:2;
  }
  .right{
    order: 3;
}
}
@media (max-width: 430px) {
  .right {
    display: none;
  }
  .logo {
    order: 1;
  }
  .burger-bar {
    order: 2;
  }
}